body {
  background-image: url("./animations/starwars.jpg");  
  background-size: 100%;

}

.navbar{
  margin-top: 35px;
  background-color: transparent;
  text-align: center;
  font-size: larger;
  font-weight: 900;

}

.navlink{
  padding: 7px;
  -webkit-text-stroke: 3px #feda4a;
  color:black;
  font-size: 300%;
  font-family: 'Pathway Gothic One', sans-serif;

}

#loginlink {
  transform: translateX(60deg)  translateY(80deg);

}

.navlink:hover {
  opacity: 70%;
}

a {
  text-decoration: none;
}
